body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: aquamarine;
}
button{
font-size: large;
cursor: pointer;
border: none;
}

img{
  width: 60px;
  border-radius: 50px;
}

.title-name{
  font-style:oblique;
  font-size: larger;
  font-weight: bold;
  color: blue;
}

.rock-button,
.scissors-button,
.paper-button{
border : solid;
border-color: brown;
border-radius: 60px;
padding-top:2px;
}

.reset-button,
.auto-play-button{
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  
}
