body{
font-family: georgia;
}
p{
margin: 5px;
}
a{
font-style: italic;
text-decoration: none ;
}
h1,
h2{
margin-bottom: 10px;
margin-top: 10px;
}

.header-bar{
display: grid;
grid-template-columns: 200px 1fr 200px;
align-items: center;
}
.middle-header-section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
/* background-image: url("/icons/group\ members.jpg"), url("/icons/group\ members\ 2.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: center;
*/
}
.middle-header-section-content{
width: 100%;
background-image: url('/icons/hands1.jpeg');
border-radius: 5px;
background-position: center center;
background-size: contain;
border-bottom-style: outset;
}
.group-name,
.group-slogan{
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
}
/*.acg-intro{
display: grid;
grid-template-columns: 1fr 200px;
align-content: center;
}
*/

/* Navbar container */
.navbar {
overflow: hidden;
background-color: rgb(175, 161, 96);
font-family: Arial;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
overflow: hidden;
margin-top: 1px;
border-radius: 23px;
width: auto;
max-height: 40px;
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: inherit;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
position:relative;
}

/* The dropdown container */
.dropdown {
overflow: hidden;
display: flex;
justify-content: center;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
color: blue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: rgb(243, 239, 239);
min-width: 180px;
z-index: 1;
border-radius: 10px;
text-align: center;
margin-top: 45px;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: center;
cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
color: #0400ff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}
.group-name{
font-size: 60px;
color: blue;
font-weight: bold;
text-shadow: 0 10px 35px rgb(126, 5, 240);
}
/*.name-glow{
display: flex;
justify-content: center;
}
*/
.group-slogan{
font-size: 30px;
color:rgb(163, 4, 137);
font-style: italic;
text-decoration: underline;
font-weight: bold;
}

.profile-pic,
.header-pic{
width: 100%;
border-radius: 8px;
background: transparent;
}
.group-images{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
/*display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 15px;*/
}
.group-images-icons{
width: 200px;
height: 113px;
border-radius: 8px;
}
video{
border-radius: 5px;
}
.members-list{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
row-gap: 15px;
column-gap: 15px;
}
.active-show-members{
padding:5px;
color: blue;
font-weight: bold;
border: none;
border-radius: 8px;
background-color: rgb(185, 150, 218);
}
.active-show-members:hover{
cursor: pointer;
background-color: #0df005;
color: rgb(255, 255, 255);
transition: background-color 1s;
}
.hide-button{
border: none;
background-color: transparent;
color: red;
font-family: sans-serif;
font-weight:bold;
padding: 5px;
border-radius: 5px;
cursor: pointer;
}
.hide-button:hover{
background-color: black;
color: white;
}
.images-link{
margin-top: 0;
margin-bottom: 5px;
}
.js-entry-record{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.js-member-data{
border: solid;
border-radius: 8px;
background-color: rgb(165, 187, 165);
border-color: rgb(185, 150, 218);
padding: 5px;
}
.photo-library{
/*display: grid;
grid-template-columns: repeat(5, auto);
justify-content: space-between;
column-gap: 5px;
row-gap: 5px;
border-bottom: solid rgb(245, 26, 62) 5px;
border-radius: 5px;
*/
display: flex;
flex-wrap: wrap;
column-gap: 5px;
row-gap: 5px;
border-bottom: solid rgb(245, 26, 62) 5px;
border-radius: 5px;
}
.photo-div,
.video-div{
border: solid #47eb32;
position: relative;
}
.thanksgiving-video{
height: inherit;
}
.photo-library-image,
.photo-div,
.video-div{
width: 250px;
height: 150px;
border-radius: 8px;
}
.photo-text-div,
.video-title-div{
position: absolute;
top: 130px;
font-style: italic;
color: rgb(83, 240, 11);
}

.first-intro-block{
text-align: center;
}
.second-intro-block{
display: grid;
grid-template-columns: 1fr 300px;
}
.left-side{
background-image: radial-gradient(rgb(245, 245, 76), rgb(226, 102, 226)40%, rgb(245, 182, 245));
}
.right-side{
border-left: solid rgb(141, 141, 194);
display: flex;
flex-direction: column;
padding-left: 5px;
background-color: rgb(245, 182, 245);
color: rgb(0, 17, 252);
font-style: italic;
font-size: large;
text-align: center;
text-shadow: 1px 1px rgb(121, 27, 27);
}
.donate-icon{
width: 80px;
border-radius: 10px;
height: auto;

}
.donate-button{
background-color: transparent;
padding: 2px;
width: 200px;
border: none;
cursor: pointer;
border-radius: 5px;
display: block;
margin-left: 45px;
position: relative;
}
.js-donate-title{
position: absolute;
left: 10px;
bottom: 13px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: xx-large;
color: transparent;
padding: 10px;
}
.js-donate-title:hover{
color: rgb(255, 2, 2);
text-shadow: 2px 2px white;
animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 1.0;}
50%{opacity: 0.0;}
100%{opacity: 1.0;}
}
.my-pop-up{
text-align: center;
}
.close-pop-up{
color: #0af316;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
border: none;
border-radius: 6px;
box-shadow: 3px 3px;
background-color: brown;
cursor: pointer;
}
.js-div-2{
align-items: center;
}
.donate-button:hover{
box-shadow: 5px 5px 5px;
}
.children-pic-1{
border-radius: 5px;
box-shadow: 3px 5px black;
}
.contact-info{
font-style: italic;
color: #820af3;
font-size: large;
background-color: aquamarine;
border-top: solid 5px;
border-bottom: solid 5px;
border-radius: 3px;
border-color: rgba(0, 0, 0, 0.596);
height: 170px;
text-align: center;
margin-top: 8px;
}
.chairman-info,
.secretary-info,
.treasurer-info,
.email-info{
border: solid;
border-color: aquamarine;
margin: 5px;
font-size:medium;
color: rgb(241, 12, 50);
}

.event-container{
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: 55px;
animation-name: fade;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
text-shadow: 3px 3px 3px black;
}
@keyframes fade{
0%{color: rgb(108, 79, 240);}
25%{color: rgb(100, 100, 100);}
50%{color: rgb(219, 211, 171);}
75%{color: rgb(194, 81, 188);}
100%{color: rgb(243, 37, 37);}
}
.event-content{
background-image: url('/photos/streetckids-fun1.jpg');
background-size: contain;
width: auto;
border: transparent solid 5px;
}
.activities-container{
text-align: left;
font-style: italic;
color: rgb(1, 11, 32);
font-weight: bold;
}
span{
font-size: 20px;
color: green;
cursor: pointer;
}
.about-us,
.what-we-do{
display: none;
left:auto;
top: auto;
background-color: rgb(178, 245, 245);
position: absolute;
text-align: center;
box-shadow: 3px 3px 5px red;
border-radius: 8px;
padding: 10px;
}
.show-about-us,
.show-what-we-do{
display: block;
}